#total {
  height: 100vh;
  background-color:#F4D503;
  margin: 0 auto;
}

#icon-wapper {
  width: 100%;
  height: 100%;
}

#icon-wapper img {
  display: flex;
  margin: auto;
  height: 50%;
}

#circle {
  border-radius: 50%;
  border: 2px;
}

#icon-wapper label .MuiSvgIcon-root {
  margin-top: 65%;
  margin-left: 38%;
  width: 5em !important;
  height: 5em !important;
}

#icon-wapper .userAppTitle {
  background-color: #F4D503;
  position: relative;
  height: 10vh;
  text-align: center;
}
.catchVideo {
  height: 100%;
}

#background-video {
  position: relative;
  object-fit: fill;
}

#button-wapper {
  position: absolute;
  top: 83%;
  display: block;
  width: 99%;
}

#button-wapper .MuiSvgIcon-colorDisabled{
  color: white;
  float: left;
}

#next {
  height: 40px;
  margin-right: 5%;
  bottom: 1px;
  border-color: #F4D503;
  border-width: 2px;
  border-radius: 10px;
  width: 80px;
  float: right;
  background-color: rgba(255, 255, 255, 0);
}

#nextText {
  margin-top: 5px;
  color: #fff;
}

#retry {
  width: 80px;
  margin-left: 8%;
  border-color: #F4D503;
  border-width: 2px;
  border-radius: 10px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
}

#retry h3 {
  margin: 3px;
  float: right;
  color: #fff;
}

#icon-wapper img {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
