#total {
  height: 100vh;
  background-color:#F4D503;
  /* margin: 0 auto; */
  padding: auto 0 ;
}

#icon-wapper {
  width: 100%;
  height: 50%;
}

#icon-wapper br{
  display: block;
  margin: 10px 0;
}


#icon-wapper img {
  display: flex;
  margin: auto;
  height: 100%;
  width: 100%;
}

#icon-wapper label .MuiSvgIcon-root {
  margin-top: 65%;
  margin-left: 38%;
  width: 5em !important;
  height: 5em !important;
}

#icon-wapper .userAppTitle {
  background-color: #F4D503;
  position: relative;
  height: 10vh;
  text-align: center;
}
.catchVideo {
  height: 100%;
}

#background-video {
  position: relative;
  object-fit: fill;
}

#button-wapper {
  position: absolute;
  top: 83%;
  display: block;
  width: 99%;
}

#button-wapper .MuiSvgIcon-colorDisabled{
  color: black;
  float: left;
}

#next {
  height: 40px;
  margin-right: 5%;
  bottom: 1px;
  border-color: #F4D503;
  border-width: 2px;
  border-radius: 10px;
  width: 80px;
  float: right;
  background-color: rgba(244, 213, 3, 0.7);
}

#nextText {
  margin-top: 5px;
  color: black;
}

#retry {
  width: 80px;
  margin-left: 8%;
  border-color: #F4D503;
  border-width: 2px;
  border-radius: 10px;
  height: 40px;
  background-color: rgba(244, 213, 3, 0.7);
}

#retry h3 {
  margin: 3px;
  float: right;
  color: black;
}


