.createWapper {
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.2);
}

.createWapper > h2{
  background-color:#F4D503;
  position: relative;
  height: 15%;
  padding-left: 10%;
  padding-top: 10vh;
  color: #8d6e63;
}

.createWapper .title-box {
  background-color: white;
  position: absolute;
  display: block;
  width: 80%;
  height: 23vh;
  top: 15%;
  left: 10%;
  border-radius: 10px;
}

.createWapper .title-box input{
  text-align: center;
  margin: 5vh 0 2vh 8vw;
  color: gray;
  width: 80%;
  border-width: 0 0 2px;
  font-size: 20px;
  background: white;
  /* letter-spacing: px; */
}

.createWapper .title-box .stars{
  display: flex;
  place-content: center;
  margin-bottom: 2vh;
}

#stars{
  display: block;
  margin-left: 8vw;
}

.createWapper .title-box h3{
  display: block;
  color:#8d6e63;
  text-align: center;
}

.createWapper .content-box {
  background-color: white;
  position: absolute;
  display: block;
  width: 80%;
  height: 30%;
  top: 40%;
  left: 10%;
  border-radius: 10px;
}

.createWapper .content-box textarea{
  margin: 5vh 0 3% 8vw;
  color: gray;
  resize: none;
  width: 80%;
  height: 65%;
  border-width: 0;
  font-size: 20px;
  font-weight: bold;
  background: white;
}



#feed-button-wapper {
  position: fixed;
  bottom: 14%;
  width: 100%;
}

#final {
  height: 5px;
  float: right;
  margin-right: 10%;
  border-width: 0;
  background-color: rgba(255, 255, 255, 0);
}

#goback {
  margin-left: 5vh;
}

#goback .MuiSvgIcon-colorDisabled{
  color: black;
}