#videobox { 
  width: 100%; 
  height: calc(100%); 
  position: absolute; 
}

#textbox { 
  float: left;
  display: inline;
  position: relative; 
  width: 89%;
  height: 35%;
  border-radius: 10px;
  top: -50%;
  left: 5%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.30);
  padding: 5px;
  z-index: 2;
}

#textbox h1 { 
  display: inline-block;;
  font-weight: bold;
  color: white;
  margin: 5px 0 5px 10px;
}

#textbox a { 
  color: #8d6e63;
}

#foodIcon {
  color: white;
}

#second_line {
  /* color: rgb(218, 218, 218); */
  size: 1px;
}

#textbox hr { 
  width: 95%;
  margin: 5px;
}

#textbox h3 { 
  border-radius: 10px;
  height: 30%;
  color: white;
  margin: 0px;
  padding: 10px;
}

#textbox h4 { 
  /* float: left; */
  color: white;
  margin: 8px;
}

#nameIcon {
  float: left;
  margin: 2px 5px;
  color: white;
}

#textbox h5 { 
  color: white;
  margin: 2px 5px;
  left: 5px;
}

#storeIcon {
  color: white;
  float: left;
  margin: 2px 5px;
}

#textbox h6 { 
  float: right;
  font-weight: bold;
  margin: 5px;
}

#textbox .stars { 
  margin-left: 3%;
}

#commentIcon {
  float: left;
  margin: 5px 10px 0 10px;
  color: white;
}

