.bottomsheet {
  width: 85%;
  margin-left: 3%;
  height: 15%;
  background-color: rgb(255, 255, 255, 0.3);
  z-index: 1;
  position: absolute;
  bottom: 12%;
  border-radius: 10px;
  padding: 5%;
}

.bottomsheet h2 {
  margin: 2%;
}

.bottomsheet hr {
  margin: 0;
}

.bottomsheet a {
  display: block;
  text-align: right;
  color: #8d6e63;
}

.bottomsheet #storeIcon {
  color: black;
  float: left;
  margin: 2px 10px 0 0;
}
