.signUpButton {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #8d6e63;
  font-size: 18px;
  font-family: 'GmarketSansMedium';
  letter-spacing: 1px;
  background: rgb(60, 185, 252);
  background: linear-gradient(
    82deg,
    #ffeb3b 0%,
    #fff59d 86%
  );
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;
}

.failButton {
  width: 100%;
  padding: 15px 0;
  font-size: 16px;
  letter-spacing: 1px;
  color: #c0c0c0;
  background-color: #ffffff;
  border-radius: 30px;
  cursor: pointer;
}

.signUp {
  height: 86vh;
  padding: 0 30px;
  background-color: #212121;
  display: flex;
  background: linear-gradient(145deg, #ffeb3b 50%, #8d6e63 50%);
  padding:0.75em 2.0em;
  color: black;
  font-weight:normal;
  overflow: scroll;
}

.signUp .signUpContainer {
  margin-top: 10%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
}


.signUp .signUpContainer .signUpTitle {
  color: white;
  font-size: 14px;
  color: gray;
}

.signUp .signUpContainer label {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.signUp .signUpContainer input {
  color: black;
  width: 100%;
  outline: 0;
  border-width: 0 0 1px;
  border-color: white;
  outline: none;
  font-size: 18px;
  padding: 10px 0;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0);
  letter-spacing: 1px;
}

.signUp .signUpContainer .btnContainer {
  width: 100%;
  padding: 8px 0 0 0;
}

.signUp .signUpContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}

.signUp .signUpContainer .btnContainer p span {
  color: yellow;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.signUp .signUpContainer .btnContainer p span:hover {
  color: red;
}

.signUp .signUpContainer .errorMsg {
  color: red;
  font-size: 10px;
  margin: 0 0 10px 0;
}

.signUp .userLink {
  margin-left: auto;
  color: #3cb9fc;
}

.errormessage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.errormessage h1,
h2,
h3 {
  margin: 0;
  line-height: 0.8;
}

.errormessage h2,
h3 {
  font-weight: 300;
  color: #c8fff4;
}

.errormessage h1 {
  font-weight: 700;
  color: #03dac6;
  font-size: 8em;
}

.errormessage h2 {
  margin: 30px 0;
}

.errormessage h3 {
  font-size: 2.5em;
}

.errormessage h4 {
  display: inline-block;
  margin: 0 15px;
}

.errormessage button {
  background: transparent;
  border: 2px solid #c8fff4;
  color: #c8fff4;
  padding: 5px 15px;
  font-size: 1.25em;
  transition: all 0.15s ease;
  border-radius: 3px;
}

.errormessage button:hover {
  background: #03dac6;
  border: 2px solid #03dac6;
  color: #111;
  cursor: pointer;
  transform: scale(1.05);
}

.errorMsgSignUp {
  color: red;
  text-align: center;
}

#icon-button-file {
  visibility: collapse;
}

.input_wrap {
  background-color: white;
  padding: 15px;
  border-radius: 7px;
}

.email_label{
  font-weight: bold;
  font-size: 0.7em;
  font-family: "GmarketSansMedium";
  color: #8d6e63;
}

.password_label{
  font-weight: bold;
  font-size: 0.7em;
  font-family: "GmarketSansMedium";
  color: #8d6e63;
}

.signUp_error{
  color: red;
  text-align: center;
}

.signUp_hr{
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 0;
  border-width: 1.5px;
}

.signUp .signUpContainer .signUpAppTitle{
  color: black;
  font-size: 30px;
}

.signUp .signUpContainer img {
  width: 150px;
  height: 150px;
}

.img_wrap {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.signUpTitle {
  color: black;
}