.infomap {
  text-align: center;
  position: static;
 }

#allmap {
margin: 0px auto;
}

.location_icon {
  position: relative;
  left: 83%;
  /* bottom: 13%; */
  bottom: 75px;
  z-index: 1;
  box-shadow : 1px 6px 10px rgba(darken(dodgerblue, 40%));
  transition : all .2s ;
}
.location_icon:active{
  transform: scale(0.9);
  color:rgba(59, 59, 59, 0.5);
}
