.infomap {
  text-align: center;
  position: relative;
  width: 100%;
 }

#allmap {
  margin: 0px auto;
}

.location_icon {
  position: absolute;
  left: 4%;
  margin-top: 1.5%;
  z-index: 10;
  transition : all .2s ;

}
.location_icon:active{
  transform: scale(0.9);
  color:rgba(59, 59, 59, 0.5);
}

.like_btn {
  border: none;
  outline: none;
  width: 100%;
  color: #8d6e63;
  font-size: 16px;
  font-family: 'GmarketSansMedium';
  letter-spacing: 1px;
  background: linear-gradient(
    82deg,
    #ffeb3b 0%,
    #fff59d 86%
  );
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  display: flex;
}

.like_btn:active{
  transform: scale(0.8);
  transition : all 0.5s ;
  background: linear-gradient(
    82deg,
    #ffeb3b 0%,
  );
}

.all_btn{
  border: none;
  outline: none;
  width: 100%;
  color: #8d6e63;
  font-size: 16px;
  font-family: 'GmarketSansMedium';
  letter-spacing: 1px;
  background: linear-gradient(
    82deg,
    #ffeb3b 0%,
    #fff59d 86%
  );
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  display: flex;
}

.all_btn:active{
  transform: scale(0.8);
  transition : all 0.5s ;
}

.img_acorn{
  margin-right: 10px ;
}

.likeListBtn {
  border: none;
  outline: none;
  width: 123px;
  color: #8d6e63;
  font-size: 16px;
  font-family: 'GmarketSansMedium';
  letter-spacing: 1px;
  background: linear-gradient(
    82deg,
    #ffeb3b 0%,
    #fff59d 86%
  );
  /* cursor: pointer; */
  font-weight: bold;
  border-radius: 5px;
  position: absolute;
  z-index: 10;
  margin-top: 10px;
  right: 5%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.likeListBtn:active{
  transform: scale(0.8);
  transition : all 0.5s ;
}